SPRING_PROFILES_ACTIVE=docker
SERVER_PORT=8084
POSTGRES_HOST=payment-service-postgres
POSTGRES_PORT=5432
POSTGRES_HOST_PORT=5436
POSTGRES_DB=payments
POSTGRES_USER=payment_user
POSTGRES_PASSWORD=payment_local_password
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
REDIS_HOST=redis
REDIS_PORT=6379
